#banner
	.banner_content
		%h1 File Cabinet
		%p Your work's. Organized always.
		%button= link_to "Enter", new_user_registration_path

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Organize
				%p Viral plaid occupy hell of lo-fi, vape deep v. Ugh vexillologist tattooed +1 four loko, church-key green juice literally. Meh lo-fi put a bird on it craft beer cardigan locavore prism keffiyeh. Tofu lumbersexual slow-carb tote bag, health goth artisan vegan vice bitters cornhole woke. Gochujang you probably haven't heard of them pitchfork, 8-bit street art normcore pok pok. Viral try-hard coloring book selfies, stumptown taiyaki bicycle rights organic williamsburg messenger bag pug.

#bottom_cta
	.wrapper
		%h2 Go Ahead!
		%br
		%button= link_to "Join Now", new_user_registration_path				 